// COLOR VARIABLES
$color-primary: rgb(198, 153, 99);
$color-primary-dark: rgb(178, 132, 81);

$color-secondary: rgb(16, 29, 44);

$color-grey-light-1: rgb(249, 247, 246);
$color-grey-light-2: #aaa;

$color-grey-dark-1: rgb(84, 72, 58);
$color-grey-dark-2: rgb(109, 93, 75);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;   /* 1rem = 10px*/
}

body{
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}
.container{
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] 
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    
    & > *{
        font-size: 3rem;
    }
}
.cta-btn{
    font-family: $font-display;
    font-size: 1.5rem;
    padding: 1.8rem 3rem;
    text-transform: uppercase;
    background-color: $color-primary;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .2s;
}
.cta-btn:hover{
    background-color: $color-primary-dark;
}



%full-page{
    grid-column: full-start / full-end;
}

%centered-page{
    grid-column: center-start / center-end;
}